.home-main {
  margin: 48px 0;
  text-align: center;

  h2 {
    margin-bottom: 24px;
  }
}

.leadin {
  font-size: 1.2rem;
}

@media all and (min-width: 63.9385em) {
  .leadin {
    font-size: 2rem;
  }
}

.girdle {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
}

.mdn-logo {
  margin: 10px auto;
  width: 350px;
}
