<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ block "title" . }}{{ .Params.title }} - {{ .Site.Title }}{{ end }}</title>

    <meta name="keywords" content={{ delimit .Keywords " " }} />
    <meta name="description" content="{{ .Description }}" />

    <link rel="canonical" href="{{ .Permalink }}" />


    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/media/favicon.svg" />

    <link rel="apple-touch-icon" sizes="144x144" href="/media/apple-icon.png" />

    <link rel="icon" type="image/png" sizes="192x192"
        href="/media/android-chrome-192x192.png" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Params.title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:locale" content="en_ZA" />
    <meta property="og:url" content="https://www.ilovemdn.org/" />
    <meta property="og:image" content="https://www.ilovemdn.org/media/social.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content="Screenshot of ilovemdn.org homepage" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Params.title }}" />
    <meta name="twitter:description" content="{{ .Description }}" />
    <meta name="twitter:image" content="https://www.ilovemdn.org/media/social.png" />
    <meta name="twitter:image:alt" content="Screenshot of ilovemdn.org homepage" />

    {{ $sass := resources.Get "sass/ilovemdn.scss" }}
    {{ $options := (dict "enableSourceMap" true "outputStyle" "compressed") }}
    {{ $styles := $sass | resources.ToCSS $options | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}">
</head>
