{{ define "main" }}
<header class="home-main">
    <h2>{{ .Params.home.heading }}</h2>
    <h3>{{ .Params.home.subheading }}</h3>
</header>
<main class="girdle" role="main">


    {{ $markdown := .Params.home.leadin | markdownify }}
    {{ if not ( strings.Contains $markdown "<p>" ) }}
    <p class="leadin">{{ $markdown }}</p>
    {{ else }}
    {{ $markdown }}
    {{ end }}


    {{ $markdown := .Params.home.main_copy | markdownify }}
    {{ if not ( strings.Contains $markdown "<p>" ) }}
    <p>{{ $markdown }}</p>
    {{ else }}
    {{ $markdown }}
    {{ end }}
    <article class="blog-comments">
        {{ template "_internal/disqus.html" . }}
    </article>
</main>
{{ end }}
